*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-principal: rgb(20, 108, 240);
    --color-secundario: #4b3b3e;
    --blanco: #fff;
    --text: #333;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.footer{
    background-color: var(--color-principal);
color:var(--blanco);
}